@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family:'New Tegomin';
    padding: 0;
    margin: 0;
}

ul {
    margin: 10px;
    padding: 0;
}

li {
    list-style-type: none;
   
}

h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}
a {
    text-decoration: none;
    color: black;
}


/* **** NAV BAR *** */
nav {
    /*overflow: hidden;*/
    background-color: whitesmoke;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}
header li {
    float: right;
    font-size: 1.3em;
}
header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 15px 16px;
}

#logo {
    font-family:'New Tegomin';
    font-weight: bold;
    float: left;
}



/* ^^^^^^^^^ */



#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu-deroulant {

    text-align: center;
}
#menu-deroulant li {

    display: inline-block;
}
#menu-deroulant ul li {

    display: inherit;
    position: center;
    
}
#menu-deroulant a {
    text-decoration: none;
    display: block;
	color:#000;
}
#menu-deroulant ul {
    position: absolute;

    left: -999em;
    text-align: left;
   z-index: 1000;
}
#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
}
/* *** img principal *** */

#imagePrincipale {
    padding-top: 60px;
    background:url(apparthotel/apparthotel/towers.jpg)no-repeat fixed 50% 50% ;
    background-size: cover;
    height: 799px;

}
h1 {
    font-family: 'New Tegomin';
    text-align: center;
    color: #0431B4;
    font-size: 6em;
    margin-top: 100px;
    text-shadow: 1px 3px 2px grey;
}

#firstLigne {
    height: 2px;
    width: 25%;
    margin: -3px auto;
    background-color: honeydew;
    box-shadow: 1px 3px 2px grey;
}

h3{
    text-align: center;
    color: rgb(135, 173, 222);
    font-size: 3em;
    text-shadow: 1px 3px 2px blue;
}

/* *** presentation *** */

#presentation {
   background-color: burlywood;
   padding: 10px 0px 100px 0px;
}
#textIntro {
    padding: 0 20%;
}

#prestations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;
}
.imagesPresentation h4 {
    font-family: 'New Tegomin';
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: bold;
}

.imagesPrestation img {
    border-radius: 10px;
    box-shadow: 5px 8px 5px 4px grey;

}
.imagesPrestation img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

/* *** tourisme *** */
input, textarea, button {

    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 2px;
    font-size: 1.2em;
    font-family: 'New Tegomin';
    border-radius: 8px;
    background-color: rgb(210, 186, 226);
}
footer {
    background-color: rgb(145, 48, 48);
    color: burlywood;
    padding: 20px 0 10px 0;
    text-align: center;
}
form{
    margin: 0 auto;
    max-width: 900px;
}
button:hover {
    background-color: rgb(65, 243, 11);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#secondLigne {
    height: 2px;
    width: 75%;
    background-color: coral;
    margin: 60px auto;
}

#tourism {
    text-align: center;
    color: darkred;
    text-shadow: 1px 5px 4px 2px grey;
}

#tourism li {
    font-weight: bold;
    
}

